<div class="container" style="margin-top:100px;">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>EDUCATION</mat-card-title>
          <mat-card-subtitle>improve your knowledge</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../../assets/images/education.jpg" alt="Photo of a Shiba Inu" class="touch">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>view me!</button>
          <!-- <button mat-button>SHARE</button> -->
        </mat-card-actions>
      </mat-card>
      
    </div>
    <div class="col-md-4">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>TECHNOLOGY</mat-card-title>
            <mat-card-subtitle>"techs at its finest"</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../../assets/images/technology.jpg" alt="Photo of a Shiba Inu" class="touch">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>view me!</button>
          <!-- <button mat-button>SHARE</button> -->
        </mat-card-actions>
      </mat-card>
      
    </div>
    <div class="col-md-4">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>HOTELS</mat-card-title>
            <mat-card-subtitle>guesthouse & suits</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../../assets/images/hotels.jpeg" alt="Photo of a Shiba Inu" class="touch">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>view me!</button>
          <!-- <button mat-button>SHARE</button> -->
        </mat-card-actions>
      </mat-card>
      
    </div>
  </div>

</div> <!-- /container -->